html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*,
*:before *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* main */
body {
  font-family: "Muli", sans-serif;
}
header {
  background: rgb(8, 8, 8);
}
.container {
  margin: 0 auto;
  width: 90%;
}
.navbar::before,
::after {
  content: " ";
  display: table;
}
.navbar::after {
  clear: both;
}
h1 {
  font-size: 32px;
  color: red;
  float: left;
  padding: 20px 0;
}
nav {
  float: right;
}
nav li {
  display: inline-block;
  padding: 20px 10px;
}
a {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
}
h2 {
  padding-top: 180px;
  font-size: 36px;
  color: white;
  text-transform: uppercase;
  line-height: 1.5;
}
.contain {
  color: white;
  font-size: 18px;
  line-height: 1.5;
  padding-top: 24px;
}
p {
  font-size: 18px;
  line-height: 1.5;
}
.btn {
  font-size: 18px;
  display: inline-block;
  color: #fff;
  cursor: pointer;
  font-weight: 400;
  letter-spacing: 0.5px;
  border: 2px solid #fff;
  padding: 12px 30px;
}
.button {
  padding-top: 24px;
  padding-bottom: 100px;
}
h3 {
  font-size: 32px;
  font-weight: 700;
  color: red;
  text-transform: uppercase;
  padding-top: 50px;
  padding-bottom: 25px;
}
.btn-alt {
  font-size: 18px;
  display: inline-block;
  color: rgb(190, 4, 4);
  cursor: pointer;
  font-weight: 400;
  letter-spacing: 0.5px;
  border: 2px solid rgb(190, 4, 4);
  padding: 12px 30px;
}
.circle {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: red;
  text-align: center;
  margin: auto;
}
.content {
  background: #e4dfe4;
  text-align: center;
}
.content p {
  padding-top: 30px;
  padding-bottom: 60px;
}
.content h3 {
  padding-top: 60px;
}
/* footer */
footer {
  background: red;
  color: #fff;
}
h4 {
  font-size: 30px;
  padding-top: 30px;
  font-weight: 700;
  text-transform: uppercase;
}
h5 {
  text-transform: uppercase;
  font-size: 20px;
  padding-top: 30px;
  padding-bottom: 20px;
}
.name {
  height: 30px;
  width: 100%;
  border: 2px solid;
}
.message {
  height: 200px;
  width: 100%;
  border: 2px solid #fff;
  margin-bottom: 25px;
}
.alt {
  padding-bottom: 50px;
  padding-top: 24px;
  font-weight: 100;
  line-height: 1.5;
}
.last {
  display: inline-block;
}
/* generic */
#generic p {
  padding: 10px 0;
}
